<%= form_with(model: [:admin, event], local: true) do |form| %>
  <%= render 'admin/shared/errors', object: event %>

  <div class="form-group row">
    <%= form.label :name, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :url, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :url, class: 'form-control' %>
    </div>
  </div>

  <!--# TODO: ここの見た目はもう少し考えた方がいいかも-->
  <div class="form-group row">
    <%= form.label :hosts, class: 'col-md-2 control-label' %>
    <div class="col-md-10 form-check">
      <%= collection_check_boxes(:event, :host_ids, Community.all, :id, :name) do |b| %>
        <%= b.check_box %>
        <%= b.label %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, class: 'col-2 col-form-label' %>
    <div class="col-10" id="editor">
      <%= render 'admin/shared/markdown_help' %>
      <div class="row" style="height: 30em;">
        <div class="col-6">
          <%= form.text_area :description, class: 'form-control', rows: 20, "v-model" => "input", debounce: 50 %>
        </div>
        <div class="col-6" style="overflow: scroll;">
          <div v-html='input | marked'></div>
        </div>
      </div>
    </div>
  </div>

  <!--# TODO: Datetime pickerを入れた方が良いかも？-->
  <div class="form-group row">
    <%= form.label :started_at, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.datetime_select :started_at, use_month_numbers: true, class: 'form-control' %>
    </div>
  </div>

  <!--# TODO: Datetime pickerを入れた方が良いかも？-->
  <div class="form-group row">
    <%= form.label :ended_at, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.datetime_select :ended_at, use_month_numbers: true, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "admin/shared/js_markdown", content: event.description %>
