<p id="notice"><%= notice %></p>

<h1>イベント一覧</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Event.human_attribute_name('name') %></th>
      <th><%= Event.human_attribute_name('url') %></th>
      <th><%= Event.human_attribute_name('started_at') %></th>
      <th><%= Event.human_attribute_name('ended_at') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= link_to event.url, event.url %></td>
        <td><%= event.started_at %></td>
        <td><%= event.ended_at %></td>
        <td><%= link_to '詳細', admin_event_path(event) %></td>
        <td><%= link_to '編集', edit_admin_event_path(event) %></td>
        <td><%= link_to '削除', admin_event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規イベント作成', new_admin_event_path %>
