<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-8">
    <h1>パーソナリティ一覧</h1>
  </div>
  <div class="col-4">
    <%= Admin::PersonalityViewObject.link_to_new(current_personality) %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Personality.human_attribute_name('name') %></th>
      <th><%= Personality.human_attribute_name('tag_list') %></th>
      <th><%= Personality.human_attribute_name('description') %></th>
      <th><%= Personality.human_attribute_name('role') %></th>
      <th><%= Personality.human_attribute_name('email') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @personalities.each do |personality| %>
      <tr>
        <td><%= personality.name %></td>
        <td>
          <% personality.tag_list.each do |tag| %>
            <span class="badge badge-primary"><%= tag %></span>
          <% end %>
        </td>
        <td><%= truncate(personality.description) if personality.description %></td>
        <td><%= personality.role.t %></td>
        <td><%= personality.email %></td>
        <td>
          <%= Admin::PersonalityViewObject.link_to_show(current_personality, personality) %>
          <%= Admin::PersonalityViewObject.link_to_edit(current_personality, personality) %>
          <%= Admin::PersonalityViewObject.link_to_destroy(current_personality, personality) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
