<p id="notice"><%= notice %></p>

<h1>パーソナリティ一覧</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Personality.human_attribute_name('name') %></th>
      <th><%= Personality.human_attribute_name('description') %></th>
      <th><%= Personality.human_attribute_name('role') %></th>
      <th><%= Personality.human_attribute_name('email') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personalities.each do |personality| %>
      <tr>
        <td><%= personality.name %></td>
        <td><%= truncate(personality.description) if personality.description %></td>
        <td><%= personality.role.t %></td>
        <td><%= personality.email %></td>
        <td><%= link_to '詳細', admin_personality_path(personality) %></td>
        <td><%= link_to '編集', edit_admin_personality_path(personality) %></td>
        <td><%= link_to '削除', admin_personality_path(personality), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
