<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong><%= Personality.human_attribute_name('name') %> :</strong></dt>
  <dd><%= @personality.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Personality.human_attribute_name('nickname') %> :</strong></dt>
  <dd><%= @personality.nickname %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Personality.human_attribute_name('image') %> :</strong></dt>
  <dd><%= image_tag @personality.image_url(:thumb) %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Personality.human_attribute_name('tag_list') %> :</strong></dt>
  <dd>
    <% @personality.tag_list.each do |tag| %>
      <span class="badge badge-primary"><%= tag %></span>
    <% end %>
  </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Personality.human_attribute_name('role') %> :</strong></dt>
  <dd>
    <%= @personality.role.t %>
    <%= Admin::PersonalityViewObject.link_to_change_role_to_guest(current_personality, @personality) %>
    <%= Admin::PersonalityViewObject.link_to_change_role_to_editor(current_personality, @personality) %>
    <%= Admin::PersonalityViewObject.link_to_change_role_to_secret(current_personality, @personality) %>
    <%= Admin::PersonalityViewObject.link_to_change_role_to_admin(current_personality, @personality) %>
  </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Personality.human_attribute_name('description') %> :</strong></dt>
  <dd><%= MarkdownHelper.markdown(@personality.description) %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Personality.human_attribute_name('email') %> :</strong></dt>
  <dd><%= @personality.email %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Personality.human_attribute_name('radios') %> :</strong></dt>
  <dd>
    <% @personality.radios.each do |radio| %>
      <%= link_to radio.title, admin_radio_path(radio) %><br>
    <% end %>
  </dd>
</dl>

<%= Admin::PersonalityViewObject.link_to_edit(current_personality, @personality) %>
