<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">パスワードを変更する</div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        <div class="field form-group">
          <%= f.label :password, "新しいパスワード" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, class: "form-control", autocomplete: "off" %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation, "パスワード確認" %><br />
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "パスワード変更", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
