<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :corner %>
    <%= form.number_field :corner, id: :contact_corner %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :contact_message %>
  </div>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, id: :contact_nickname %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :contact_name %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.number_field :department, id: :contact_department %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.number_field :grade, id: :contact_grade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
