<%= form_with(model: [:admin, contact], local: true) do |form| %>
  <%= render 'admin/shared/errors', object: contact %>

  <div class="form-group row">
    <%= form.label :corner, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.select :corner, options_for_select(ContactCorners.form_items, ContactCorners.labels), {}, { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :message, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_area :message, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :nickname, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :nickname, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :name, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :department, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.select :department, options_for_select(ContactDepartments.form_items, ContactDepartments.labels), {}, { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :grade, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.select :grade, options_for_select(ContactGrades.form_items, ContactGrades.labels), {}, { class: 'form-control' } %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :readable, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.check_box :readable, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
