<%= form_with(model: [:admin, community], local: true) do |form| %>
  <%= render 'admin/shared/errors', object: community %>

  <div class="form-group row">
    <%= form.label :name, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :logo, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.file_field :logo %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :url, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_field :url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :tag_list, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= text_field_tag 'community[tag_list]', community.tag_list.join(',') %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
