<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">ログイン</div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control",autofocus: true %>
        </div>

        <div class="field form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field form-group">
            <%= f.check_box :remember_me %>
            <%= f.label "ログイン情報を保存する" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
