<p id="notice"><%= notice %></p>

<h1>ラジオ一覧</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @radios.each do |radio| %>
      <tr>
        <td><%= link_to '詳細', admin_radio_path(radio) %></td>
        <td><%= link_to '編集', edit_admin_radio_path(radio) %></td>
        <td><%= link_to '削除', admin_radio_path(radio), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規ラジオ作成', new_admin_radio_path %>
