<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-8">
    <h1>ラジオ一覧</h1>
  </div>
  <div class="col-4">
    <%= Admin::RadioViewObject.link_to_new(current_personality) %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Radio.human_attribute_name('title') %></th>
      <th><%= Radio.human_attribute_name('description') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @radios.each do |radio| %>
      <tr>
        <td><%= radio.title %></td>
        <td><%= truncate(radio.description) if radio.description %></td>
        <td>
          <%= Admin::RadioViewObject.link_to_show(current_personality, radio) %>
          <%= Admin::RadioViewObject.link_to_edit(current_personality, radio) %>
          <%= Admin::RadioViewObject.link_to_destroy(current_personality, radio) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
