<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong><%= Radio.human_attribute_name('title') %> :</strong></dt>
  <dd><%= @radio.title %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Radio.human_attribute_name('description') %> :</strong></dt>
  <dd><%= simple_format(@radio.description) if @radio.description %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Radio.human_attribute_name('mp3') %> :</strong></dt>
  <dd><%= @radio.mp3 %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Radio.human_attribute_name('communities') %> :</strong></dt>
  <dd>
    <% @radio.communities.each do |community| %>
      <%= link_to community.name, admin_community_path(community) %><br>
    <% end %>
  </dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Radio.human_attribute_name('youtube_url') %> :</strong></dt>
  <dd><%= link_to @radio.youtube_url, @radio.youtube_url %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%= Radio.human_attribute_name('podcast_url') %> :</strong></dt>
  <dd><%= link_to @radio.podcast_url, @radio.podcast_url %></dd>
</dl>

<%= link_to '編集', edit_admin_radio_path(@radio) %>
