<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>[ADMIN]ちょっときいて呉高専</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  <!-- Realtime preview -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script>
  <%= csrf_meta_tags %>
</head>

<body class="fixed-nav bg-dark">

<nav class="row navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="col-3">
    <%= link_to "[ADMIN]ちょっときいて呉高専", admin_root_path, class: "navbar-brand" %>
  </div>
  <div class="offset-md-6 col-3">
    <span class="navbar-text"><%= current_personality.name %>(<%= current_personality.role.t %>)</span>
    <%= link_to "ログアウト", destroy_personality_session_path(current_personality), method: :delete, data: { confirm: "ログアウトしてもいいですか？" }, class: "btn btn-light btn-sm" %>
  </div>

  <div class="collapse navbar-collapse">
    <%= render 'layouts/sidebar' %>
  </div>
</nav>
<div class="content-wrapper">
  <div class="container-fluid">
    <% if notice %>
    <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>
